@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    box-sizing: border-box;
    background: #000000;
    color: #fff;
    font-family: Indie Flower, cursive, sans-serif;
}

