main {
    display: grid;
    grid-template-columns: 22% 78%;
    height: 52.5rem;

    @include respond(phone) {
        grid-template-columns: 0 1fr;
    }


    .sideBar {
        background: #f0f0f0;
        display: grid;
        grid-template-rows: 30% 70%;

        @include respond(phone) {
            z-index: 1000;
            height: 100vh;
            width: 0rem;
            opacity: 0;
            grid-template-rows: 20% 80%;
        }

        .sideBarOne {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sideBarContainer {
                cursor: pointer;
                border: solid .3px #f0f0f0;
                border-radius: 5px;
                height: 30px;
                width: 70%;
                margin: 5px 0;
                display: flex;
                align-items: center;
                padding: 5px;

                &:hover {
                    background: #d8d8d8b0;
                }

                .inbox {
                    color: #44b4ff;
                }

                .day {
                    color: #03da03;
                }

                .project {
                    color: #8f49ff;
                }

                h1 {
                    margin: 0 6px;
                    font-size: 1.3rem;
                    font-family: Open Sans, monospace, sans-serif;
                }
            }
        }

        .sideBarTwo {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .projectDefault {
                align-self: flex-end;
                cursor: pointer;
                height: 3rem;
                width: 85%;
                display: flex;
                align-items: center;

                #arrow {
                    color: #000000;
                    font-size: 1.2rem;
                    font-weight: 900;
                    margin: 0 1rem;
                    transition: 200ms ease-in-out;
                }

                h1 {
                    font-size: 1.5rem;
                    font-family: Open Sans, sans-serif;
                }

                #newProjectIcon {
                    height: 1.8rem;
                    margin-left: 120px;

                    &:hover {
                        transform: rotate(360deg);
                        transition: 0.7s ease-in-out;
                    }
                }
            }

            .projectList {
                align-self: flex-end;
                opacity: 0;
                height: 0;
                width: 80%;

                .list {
                    cursor: pointer;
                    margin: 1rem 0;
                    height: 3rem;
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    padding: 5px 0 5px 5px;
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                        background: #d8d8d8b0;
                    }

                    p {
                        font-size: 1.4rem;
                        font-family: Open Sans, sans-serif;
                    }

                    .deleteProjectBtn {
                        font-size: 1.2rem;
                        color: #808080;
                        margin-right: 1.5rem;

                        &:hover {
                            color: #000;
                            transform: rotate(360);
                            transition: 0.7s ease-in-out;
                        }
                    }
                }
            }
        }

        .sideBarModule {
            top: 0rem;
            height: 100%;
            width: 100%;
            position: absolute;
            background: #e9e9e983;
            display: none;
            place-items: center;

            .sideBarModuleContent {
                background: #fff;
                box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                border-radius: 5px;
                height: 30%;
                width: 40%;
                display: grid;
                grid-template-columns: 1fr;
                place-items: center;

                .sideBarModuleContentDivOne, .sideBarModuleContentDivTwo {
                    height: 80%;
                    width: 80%;
                }

                .sideBarModuleContentDivOne {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    label {
                        font-size: 1.6rem;
                        font-family: "Open Sans", sans-serif;
                        margin: 0 1rem 0 0;
                    }

                    input {
                        height: 50%;
                        width: 70%;
                        font-size: 1.8rem;
                    }
                }

                .sideBarModuleContentDivTwo {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        cursor: pointer;
                        height: 3rem;
                        width: 8rem;
                        margin: 0 1rem 0 0;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                    }

                    #addProject {
                        color: #fff;
                        background: #ff4500;

                        &:hover {
                            color: #ff4500;
                            background: #fff;
                            border: .5px solid #ff4500;
                        }
                    }

                    #cancelProject {
                        color: #fff;
                        background: #ff4500;

                        &:hover {
                            color: #ff4500;
                            background: #fff;
                            border: .5px solid #ff4500;
                        }
                    }
                }
            }
        }
    }

    .content {
        display: grid;

        .pageStyle {
            display: grid;
            grid-template-rows: .5fr 3fr;

            @include respond(phone) {
                grid-template-rows: 10% 90%;
            }

            .contentOne {
                display: grid;
    
                .contentOneOne {
                    margin: 1rem 2rem;
    
                    h1 {
                        cursor: pointer;
                        margin: 1rem 2rem;
                        font-size: 1.8rem;
                        font-family: "Open Sans", sans-serif;
                    }
                }
    
                .contentOneTwo {
                    margin: 1rem 4rem;
                    display: flex;
                    align-items: center;
    
                    @include respond(phone) {
                        display: none;
                    }
    
                    h1 {
                        cursor: pointer;
                        font-size: 1.5rem;
                        font-family: "Open Sans", sans-serif;
                        margin: 0 5px;
                        color: #474747;
    
                        &:hover {
                            color: #ff4500;
                        }
                    }
    
                    #newListButton {
                        color: #ff4500;
                        cursor: pointer;
                        height: 1.8rem;
                        width: 1.8rem;
    
                        &:hover {
                            color: #fff;
                            border-radius: 100rem;
                            background: #ff4500;
                        }
                    }
                }
            }
    
            .pageContent {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .todoStyle {
                    cursor: pointer;
                    border-top: .5px solid #e2e2e2;
                    border-bottom: .5px solid #e2e2e2;
                    min-height: 8rem;
                    max-height: auto;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    place-items: center;
    
                    .divOne {
                        margin: 5px 0;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 3fr 1fr;
                        align-items: center;
    
                        .divOneOne {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
    
                            @include respond(phone) {
                                grid-template-columns: 2fr 1fr 1fr;
                            }
    
                            p {
                                font-size: 1.4rem;
                                font-family: Open Sans, cursive, monospace, sans-serif;
    
                                @include respond(phone) {
                                    font-size: 1.1rem;
                                }
                            }
    
                            :not(:first-child):not(:last-child) {
                                display: grid;
                                place-items: center;
                            }
    
                            :last-child {
                                display: grid;
                                place-items: center;
                            }
                        }
    
                        .divOneTwo {
                            display: flex;
                            justify-content: flex-end;
    
                            #deleteTodo {
                                border: .5px solid #000;
                                margin: 0 5px;
                                cursor: pointer;
                                height: 2rem;
                                width: 2rem;
                                border-radius: 5px;
                                color: #ff0000;
                                background: #fff;
    
                                @include respond(phone) {
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    display: grid;
                                    place-items: center;
                                }
            
                                i {
                                    font-size: 1rem;
    
                                    @include respond(phone) {
                                        font-size: .8rem;
                                    }
                                }
        
                                &:hover {
                                    border: none;
                                    color: #fff;
                                    background: #ff0000;
                                }
                            }
    
                            #editTodo {
                                cursor: pointer;
                                height: 2rem;
                                width: 2rem;
                                border-radius: 5px;
                                color: #36d0ff;
                                background: #fff;
                                border: .5px solid #000;
    
                                @include respond(phone) {
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    display: grid;
                                    place-items: center;
                                }
    
                                &:hover {
                                    border: none;
                                    color: #fff;
                                    background: #36d0ff;
                                }
    
                                i {
                                    font-size: 1rem;
    
                                    @include respond(phone) {
                                        font-size: .8rem;
                                    }
                                }
                                
                            }
                        }
                    }
    
                    .divTwo {
                        height: auto;
                        width: 100%;
    
                        p {
                            color: #808080;
                            font-size: 1.3rem;
                            letter-spacing: .5px;
    
                            @include respond(phone) {
                                font-size: 1rem;
                                letter-spacing: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}