main {
    display: grid;
    grid-template-columns: 22% 78%;
    height: 52.5rem;

    .sideBar {
        background: #f0f0f0;
        display: grid;
        grid-template-rows: 30% 70%;

        .sideBarOne {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sideBarContainer {
                cursor: pointer;
                border: solid .3px #f0f0f0;
                border-radius: 5px;
                height: 30px;
                width: 70%;
                margin: 5px 0;
                display: flex;
                align-items: center;
                padding: 5px;

                &:hover {
                    background: #d8d8d8b0;
                }

                .inbox {
                    color: #44b4ff;
                }

                .day {
                    color: #03da03;
                }

                .project {
                    color: #8f49ff;
                }

                h1 {
                    margin: 0 6px;
                    font-size: 1.3rem;
                    font-family: Open Sans, monospace, sans-serif;
                }
            }
        }
    }
}