.navStyle {
    height: 5rem;
    background: #ff4500;
    display: flex;
    justify-content: space-between;

    .navOne {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 10rem;

        .spanStyle {
            cursor: pointer;
            height: 2.4rem;
            width: 3rem;
            display: grid;
            place-items: center;
            padding: 1px 0;

            &:hover {
                border-radius: 2px;
                background: #ffffff83;

                :first-child {
                    transform: rotate(45deg);
                    margin-bottom: 0;
                    margin-left: 2px;
                }

                :not(:first-child):not(:last-child) {
                    display: none;
                }

                :last-child {
                    transform: rotate(-45deg);
                    margin-left: 2px;
                }
            }

            span {
                cursor: pointer;
                border: solid #ffffff .5px;
                background: #fff;
                width: 15px;
                transform-origin: 0px 1px;
                transition: ease-in-out 0.7s;
            }

            :first-child {
                margin-bottom: -2px;
            }

            :not(:first-child):not(:last-child) {
                margin-bottom: -2px;
            }
        }

        .homeIcon {
            height: 2rem;
            width: 3.5rem;
            height: 2.4rem;
            width: 3rem;
            cursor: pointer;
            margin: 0 1rem;
            display: grid;
            place-items: center;
            padding: 1px 0;

            &:hover {
                border-radius: 2px;
                background: #ffffff83;
            }

            #homeIcon {
                cursor: pointer;
                color: #fff;
                font-size: 2rem;
            }
        }
    }

    .navTwo {
        width: 10rem;
        display: grid;
        place-items: center;

        #plusIcon {
            cursor: pointer;
            color: #fff;
            font-size: 2rem;

            &:hover {
                transform: rotate(360deg);
                transition: 0.7s ease-in-out;
            }
        }
    }
}

