.navStyle {
    height: 5rem;
    background: #ff4500;
    display: flex;
    justify-content: space-between;

    .module {
        z-index: 2000;
        background: #e9e9e983;
        display: none;
        place-items: center;
        position: absolute;
        height: 100%;
        width: 100%;

        .moduleContent {
            background: #fff;
            border: none;
            border-radius: 2rem;
            display: grid;
            place-items: center;
            height: 50%;
            width: 40%;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

            @include respond(phone) {
                width: 95%;
            }

            .formTodo {
                margin-top: 10px;
                height: 90%;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .inputContainer {
                    height: 4rem;
                    display: grid;
                    grid-template-columns: 1fr 3fr;

                    @include respond(phone) {
                        grid-template-columns: .9fr 3fr;
                    }

                    label {
                        display: grid;
                        place-items: center;
                        font-size: 1.4rem;
                        font-family: Open Sans, sans-serif;

                        @include respond(phone) {
                            font-size: 1.2rem;
                        }
                    }

                    input {
                        height: 3rem;
                        width: 20rem;
                    }

                    .inputArea {
                        width: 100%;
                        font-size: 1.5rem;
                    }
                }
            }

            .btnContainer {
                display: grid;
                grid-template-columns: 1fr 2fr;
                height: 90%;
                width: 90%;

                @include respond(phone) {
                    grid-template-columns: 1fr;
                }

                .btns {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        cursor: pointer;
                        height: 3rem;
                        width: 7rem;
                        border-radius: 5px;
                        font-weight: 600;
                        
                        p {
                            pointer-events: none;
                        }
                    }

                    #addList {
                        border: none;
                        margin: 0 1.5rem 0 3rem;
                        background: #ff4500;
                        color: #fff;


                        &:hover {
                            color: #ff4500;
                            background: #fff;
                            border: .5px solid #ff4500;
                        }
                    }

                    #editList {
                        display: none;
                        border: none;
                        margin: 0 1.5rem 0 3rem;
                        background: #ff4500;
                        color: #fff;

                        &:hover {
                            color: #ff4500;
                            background: #fff;
                            border: .5px solid #ff4500;
                        }
                    }

                    #cancelList {
                        outline: none;
                        border: .5px solid #000;
                        background: #fff;

                        &:hover {
                            background: #ebebeb;
                        }
                    }
                }
            }
        }
    }
    
    .navOne {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 10rem;

        .spanStyle {
            cursor: pointer;
            height: 2.4rem;
            width: 3rem;
            display: grid;
            place-items: center;
            padding: 1px 0;

            &:hover {
                border-radius: 2px;
                background: #ffffff83;

                :first-child {
                    transform: rotate(45deg);
                    margin-bottom: 0;
                    margin-left: 2px;
                }

                :not(:first-child):not(:last-child) {
                    display: none;
                }

                :last-child {
                    transform: rotate(-45deg);
                    margin-left: 2px;
                }
            }

            span {
                cursor: pointer;
                border: solid #ffffff .5px;
                background: #fff;
                width: 15px;
                transform-origin: 0px 1px;
                transition: ease-in-out 0.7s;
            }

            :first-child {
                margin-bottom: -2px;
            }

            :not(:first-child):not(:last-child) {
                margin-bottom: -2px;
            }
        }

        #spanPhone {
            display: none;

            @include respond(phone) {
                display: grid;
            }
        }
    
        #spann {

            @include respond(phone) {
                display: none;
            }
        }

        .homeIcon {
            height: 2rem;
            width: 3.5rem;
            height: 2.4rem;
            width: 3rem;
            cursor: pointer;
            margin: 0 1rem;
            display: grid;
            place-items: center;
            padding: 1px 0;

            &:hover {
                border-radius: 2px;
                background: #ffffff83;
            }

            #homeIcon {
                cursor: pointer;
                color: #fff;
                font-size: 2rem;
            }
        }
    }

    .navTwo {
        width: 10rem;
        display: grid;
        place-items: center;

        #plusIcon {
            cursor: pointer;
            color: #fff;
            font-size: 2rem;

            &:hover {
                transform: rotate(360deg);
                transition: 0.7s ease-in-out;
            }
        }
    }
}

