.navStyle {
    height: 10rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    position: relative;

    .navContent {
        height: 100%;
        width: 80%;

        @include respond(phone) {
            width: 100%;
        }

        ul {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            :first-child {
                margin: 0 1rem;
                font-size: 4rem;
                font-family: Indie Flower, monospace, sans-serif;
            }

            .listContent {
                display: flex;
                place-items: center;

                @include respond(phone) {
                    display: none;
                }

                li {
                    cursor: pointer;
                    list-style: none;
                    font-size: 2rem;
                    font-family: Indie Flower, monospace, sans-serif;
                }

                i {
                    cursor: pointer;
                    font-size: 2rem;
                }
            }
        }
    }

    .hamburger {
        width: 20%;
        justify-content: flex-end;
        align-items: center;

        @include respond(phone) {
            display: flex;
        }

        .burger {
            height: 5rem;
            width: 10rem;
            display: none;
            place-items: center;

            @include respond(phone) {
                display: grid;
            }

            span {
                height: 1.5px;
                width: 4rem;
                border: solid;
                background: #fff;
                transition: all ease-in-out 0.8s;
                transform-origin: 2px 3px;

                &:not(:first-child):not(:last-child) {
                    margin-top: -10px;
                    transition: all ease-in-out 0.9s;
                }

                &:last-child {
                    margin-top: -14px;
                }
            }
        }
    }

    .mobileMenu {
        opacity: 0;
        background: #f0f8ff;
        position: absolute;
        width: 100%;
        top: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;

        .listContent {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                margin: 0 .5rem;
                color: #000;
                cursor: pointer;
                list-style: none;
                font-size: 2rem;
                font-family: Indie Flower, monospace, sans-serif;
            }

            i {
                cursor: pointer;
                margin: 0 .5rem;
                color: #000;
                font-size: 2rem;
            }
        }
    }
}


.open {

    #one {
        transform: rotate(45deg);
    }

    #two {
        display: none;
    }

    #three {
        transform: rotate(-45deg);
        margin-top: 0;
    }
}


@keyframes fadeIn {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 50rem;
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.7s ease-in-out .2s forwards;
}

@keyframes fadeOut {
    0% {
        height: 50rem;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut .7s ease-in-out forwards;
}